*.swp
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.DS_STORE
build/
.cache

source/api/*
!source/api/template.dot
!source/api/dr.json

# YARD artifacts
.yardoc
_yardoc
doc/
.idea/
