---
title: Inertia - interact.js Documentation

layout: slate

language_tabs:
  - javascript

toc_footers:
  - <a href='http://interactjs.io'>Project homepage</a>
  - <a href='https://github.com/taye/interact.js'>View on Github</a>
  - <a href='http://github.com/tripit/slate'>(Docs Powered by Slate)</a>

includes:

search: true
---

Inertia
=======

