.link-btn {
  $shadow: 0.25em;
  $hover-shadow: $shadow * 2;

  font-family: monospace;
  font-size: 1.2em;
  letter-spacing: -0.05em;
  text-align: center;
  color: #ffffff;
  background-color: #92e;
  background-image: none;
  border-color: #285e8e;

  border: none;
  border-radius: 0;
  padding: 0.5em 1em;
  display: inline-block;
  box-sizing: content-box;

  cursor: pointer;

  box-shadow: -$shadow $shadow rgba(0,0,0, 0.4);

  transition: all 0.2s;

  &:hover, &:focus, &:active {
    box-shadow: -$hover-shadow $hover-shadow rgba(0,0,0, 0.4);
    -webkit-transform: translate(0.2em, -0.2em);
    transform: translate(0.2em, -0.2em);

    &::before {
      content: '';
      position: absolute;
      left: -0.2em;
      right: 0;
      top: 0;
      bottom: -0.2em;
      background-color: transparent;
    }
  }

  &, &:hover, &:visited, &:active, &:focus {
    text-decoration: none;
  }
}

.link-btn[data-count]::after {
  content: attr(data-count);

  background-color: rgba(255, 255, 255, 0.25);
  padding: 0.2em;
  margin: -0.2em;
  margin-left: 0.5em;
  line-height: 1em;
}

.link-btn-icon {
  height: 2em;
  vertical-align: middle;
}

.links {
  text-align: center;
  margin: auto;
  margin-top: 0.25em;
  padding: 0;
}

.links-item {
  display: inline-block;
  vertical-align: bottom;
  margin: 0.25em 0.5em;

  list-style: disc outside;
}

.links-br {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline;
}

@media screen and (max-width: 430px) {
  .links {
    display: block;
    width: 100%;

    li {
      display: block;
      min-width: 75%;
      margin: 0.5em;
    }

    .link-btn {
      min-width: 65%;
      text-align: initial;
      padding-left: 5%;
      padding-right: 5%;
    }

    .links-br {
      display: none;
    }
  }
}
