Action options
==============

The Interactable methods draggable, resizable and gesturable take either `true`
or `false` to simply allow/dissallow the action or an object with properties to
change certain settings.

draggable, resizable, gesturable options
----------------------------------------

```javascript
interact(target)
  .draggable({
    max: 3,
    snap: {/* ... */},
    autoScroll: {/* ... */},
  });
  .resizable({
    inertia: { /* ... */ }
  })
  .gesturable({
    restrict: { /* ... */ }
  });
```

 - **enabled** - Should this action be allowed. Default: `true`.
 - **max** - Limit the number of concurrent interactions that can target the
   *Interactable*. Default: `1`.
 - **maxPerElement** - Limit the number of concurrent interactions that can
   target the *same element*. Default: `1`.
 - **restrict** - See [Restrict](#restrict)

draggable, resizable options
----------------------------

 - **snap** - See [Snap](#snap)
 - **inertia** - See [Inertia](#inertia)
 - **autoScroll** - See [AutoScroll](#autoscroll)

draggable options
-----------------

 - **axis** - the axis in which the first movement must be in for the drag
   sequence to start

resizable options
-----------------

 - **axis** - the axis to resize in. `'x'`, `'y'` or `'xy'` (default).
 - **squareResize** - increase x and y by the same amount.

dropzone options
----------------

```javascript
interact(target).dropzone({
  acept: '.drag0, .drag1',
  overlap: 0.25
});
```

 - **accept** - a CSS selector or an Element which must match the dragged
   element in order for drop events to be fired.
 - **overlap** - set how drops are checked for. The allowed values are:
   - `'pointer'`, the pointer must be over the dropzone (default)
   - `'center'`, the draggable element's center must be over the dropzone
   - a number from 0-1 which is the (intersection area) / (draggable area).
     e.g. `0.5` for drop to happen when half of the area of the draggable is
over the dropzone

<%# Fix rendering issue %>
<div></div>
